<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ksdg.pg-sample" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PhoneGap-Sample</name>

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/battery" />
`
    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <access origin="http://10.0.168.105/*" />
</widget>
